# Dependencies
node_modules

# Environment variables
.env

# Ignore image files within the content directory
content/**/*.jpg
content/**/*.jpeg
content/**/*.png
content/**/*.gif
content/**/*.heic
content/**/*.webp

dist/**/*.jpg
dist/**/*.jpeg
dist/**/*.png
dist/**/*.gif
dist/**/*.heic
dist/**/*.webp

countries.geojson
