/* Remove slider border and set navigation color */
.swiper {
  --swiper-navigation-color: black;
  border: none;
}

.dark .swiper {
  --swiper-navigation-color: white;
}

/* Swiss Design Swiper Arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 0.7;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 32px !important;
  font-weight: 900; /* ultrabold */
}
