@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
}
* {
  min-width: 0;
  
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

.recharts-text {
  font-size: 11px;
}
* {
  min-width: 0;
}

:root {
  --default-font-family: "Geist", sans-serif;
  --sidebar-width: clamp(280px, 30vw, 360px);
  --content-width: clamp(769px, calc(var(--sidebar-width) * 2.66), 1280px);
  --font-mono: "Geist Mono", monospace;
  --color-black: #000;
  --color-white: #fff;
}

.mapboxgl-map {
  font-family: var(--default-font-family) !important;
}

button {
  @apply cursor-pointer;
}
body {
  font-family: var(--default-font-family);
  font-weight: 400;
  letter-spacing: 0.000325em;
  scroll-behavior: smooth;
}

/* Custom Range Slider Styles */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

.custom-range:focus {
  outline: none;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  @apply bg-gray-500;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  @apply bg-gray-500;
}

/* Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  cursor: pointer;
  margin-top: calc((-9px - 2px) / 2);
  @apply bg-red-600 dark:bg-red-300 border;
}

.custom-range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border: none;
  cursor: pointer;
  @apply bg-red-600 dark:bg-red-800;
}

[data-wysiwyg] h1 {
  @apply text-4xl md:text-5xl;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
}

[data-wysiwyg] h2 {
  @apply text-3xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h3 {
  @apply text-2xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h4 {
  @apply text-xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h5 {
  @apply text-lg;
  text-wrap: balance;

  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h6 {
  @apply text-base;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] p {
  @apply text-base;
  text-wrap: pretty;
  line-height: 1.5;
  margin-bottom: 1rem;
}

[data-wysiwyg] ul {
  @apply list-disc list-inside mb-4;
}

[data-wysiwyg] ol {
  @apply list-decimal list-inside mb-4;
}

[data-wysiwyg] li {
  @apply my-1 text-base;
}

[data-wysiwyg] a {
  @apply underline underline-offset-4;
}

[data-wysiwyg] blockquote {
  @apply border-l-2 border-gray-300 pl-4;
}

[data-wysiwyg] code {
  @apply bg-gray-100 px-1 rounded;
}

[data-wysiwyg] pre {
  @apply bg-gray-100 p-4 rounded;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-wysiwyg] a {
  color: currentColor;
  text-decoration: underline;
}

.mapboxgl-popup-content {
  padding: 0;
}
