@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
}
* {
  min-width: 0;
  
}



body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */


@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist-mono/or3nQ6H-1_WfwkMZI_qYFrMdmhHkjkotbA.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist-mono/or3nQ6H-1_WfwkMZI_qYFrkdmhHkjkotbA.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist-mono/or3nQ6H-1_WfwkMZI_qYFrcdmhHkjko.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist/gyByhwUxId8gMEwcGFWNOITd.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist/gyByhwUxId8gMEwSGFWNOITddY4.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist/gyByhwUxId8gMEwYGFWNOITddY4.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.recharts-text {
  font-size: 11px;
}
* {
  min-width: 0;
}

body {
  overflow: hidden;
}

:root {
  --default-font-family: "Geist", sans-serif;
  --sidebar-width: clamp(280px, 30vw, 360px);
  --content-width: clamp(769px, calc(var(--sidebar-width) * 2.66), 1280px);
  --font-mono: "Geist Mono", monospace;
  --color-black: #000;
  --color-white: #fff;
}

.mapboxgl-map {
  font-family: var(--default-font-family) !important;
}

button {
  @apply cursor-pointer;
}
body {
  font-family: var(--default-font-family);
  font-weight: 400;
  letter-spacing: 0.000325em;
  scroll-behavior: smooth;
}

/* Custom Range Slider Styles */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

.custom-range:focus {
  outline: none;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  @apply bg-gray-500;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  @apply bg-gray-500;
}

/* Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  cursor: pointer;
  margin-top: calc((-9px - 2px) / 2);
  @apply bg-red-600 dark:bg-red-300 border;
}

.custom-range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border: none;
  cursor: pointer;
  @apply bg-red-600 dark:bg-red-800;
}

[data-wysiwyg] h1 {
  @apply text-4xl md:text-5xl;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
}

[data-wysiwyg] h2 {
  @apply text-3xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h3 {
  @apply text-2xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h4 {
  @apply text-xl;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h5 {
  @apply text-lg;
  text-wrap: balance;

  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h6 {
  @apply text-base;
  text-wrap: balance;
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] p {
  @apply text-base;
  text-wrap: pretty;
  line-height: 1.5;
  margin-bottom: 1rem;
}

[data-wysiwyg] ul {
  @apply list-disc list-inside mb-4;
}

[data-wysiwyg] ol {
  @apply list-decimal list-inside mb-4;
}

[data-wysiwyg] li {
  @apply my-1 text-base;
}

[data-wysiwyg] a {
  @apply underline underline-offset-4;
}

[data-wysiwyg] blockquote {
  @apply border-l-2 border-gray-300 pl-4;
}

[data-wysiwyg] code {
  @apply bg-gray-100 px-1 rounded;
}

[data-wysiwyg] pre {
  @apply bg-gray-100 p-4 rounded;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-wysiwyg] a {
  color: currentColor;
  text-decoration: underline;
}

.mapboxgl-popup-content {
  padding: 0;
}
