@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --default-font-family: "Geist", sans-serif;
  --sidebar-width: clamp(240px,25vw,480px);
  --content-width: 1040px;
}

.mapboxgl-map {
  font-family: var(--default-font-family) !important;
}

body {
  font-family: var(--default-font-family);
  font-weight: 400;
  letter-spacing: 0.000325em;
  scroll-behavior: smooth;
}


[data-wysiwyg] h1 {
  @apply text-2xl md:text-5xl;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h2 {
  @apply text-3xl;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h3 {
  @apply text-2xl;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h4 {
  @apply text-xl;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h5 {
  @apply text-lg;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] h6 {
  @apply text-base;
  
  line-height: 1.2;
  margin-bottom: 1rem;
}

[data-wysiwyg] p {
  @apply text-base;
  line-height: 1.5;
  margin-bottom: 1rem;
}

[data-wysiwyg] ul {
  @apply list-disc list-inside mb-4;
}

[data-wysiwyg] ol {
  @apply list-decimal list-inside mb-4;
} 

[data-wysiwyg] li {
  @apply my-1 text-base;
}

[data-wysiwyg] a {
  @apply text-blue-600 underline underline-offset-4;
}

[data-wysiwyg] blockquote {
  @apply border-l-2 border-gray-300 pl-4;
}

[data-wysiwyg] code {
  @apply bg-gray-100 px-1 rounded;
}

[data-wysiwyg] pre {
  @apply bg-gray-100 p-4 rounded;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

[data-wysiwyg] a {
  color: currentColor;
  text-decoration: underline;
}
